.maindiv{
    width: 100%;
}
.firstdiv{
    width: 50%;
}
.seconddiv{
    width: 50%;
    background-color: orange;
    float: right;
    height: 100%;
    min-height: 600px;
}
.welcome{
    top: 200px;
    display: inline;
    position: absolute;
    float: right;
    left: 250px;
}
.email{
margin: 5px;
}
.password{
margin: 5px;
}
.submit{
    margin: 10px;
}
.signup{
    display: inline;
    position: relative;
  bottom: -100px;
}